<div class="container-fluid h-100">
  <div class="parent">
    <div>
      <h3 class="text-center">Search for Weather:</h3>
      <form [formGroup]="weatherSearchForm" (ngSubmit)="sendToAPIXU(weatherSearchForm.value)">
    <div class="form-group">
      <input
        class="form-control"
        type="text"
        id="weatherLocation"
        aria-describedby="weatherLocation"
        placeholder="Please input a Location"
        formControlName="location"
      />
     </div>
     <div class="text-center"> 
      <button type="submit" class="btn btn-success btn-md">
        Search</button>
     </div>
   </form> 
    
    
    </div>
  </div>

  <div class="card text-center" [hidden] = "displayCard">
    <div class="card-header ">
      <h2>{{this.weatherData?.name}} , {{this.weatherData?.sys.country}}</h2>
    </div>

     <div class="card-body">
       
         <h1>{{this.weatherData?.main.temp}} °C / <span style="font-size:16px">{{this.weatherData?.main.feels_like}} °C</span></h1>
         
         
       
       

       <img src="http://openweathermap.org/img/w/{{this.weatherData?.weather[0].icon}}.png">
         <h6 class="description">{{this.weatherData?.weather[0].description}}</h6>
         <h6 class="humidity">humid : {{this.weatherData?.main.humidity}}%</h6>
         <h6 class="speed">Speed : {{this.weatherData?.wind.speed}} KMPH</h6>

        
       
     </div>
  </div>
</div>