*{
            box-sizing: border-box;
        }
        
        .container-fluid{
          height: 100%;
          
          
        }
        .container-fluid{
          display: grid;
          place-items: center;
          padding-top: 10px;
        }
        .parent{
          margin-bottom: 40px;
        }
        /* .parent1{
          border-radius: 8px;
          height: 300px;
          width: 200px;
          margin-top: 40px;
          align-items: center;
        }
        .parent1 .header{
          background-color: #bbb;
          color: #fff;
          text-align: center;
          align-items: center;

        }
        .body .up{
          align-items: center;
          text-align: center;
          background-color: coral;
          color: #fff;
        } */
        .card{
          height: 350px;
          width: 300px;
          min-width: 250px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          transition: all ease 0.6s;

        }
        .card-header{
         
          color: #111;

          height:50px;
        }
       .card-body{
         
         
         padding-top: 30%;
         
         
       }
       .card:hover{
         transform: scale(1.1,1.1);
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.2);
       }
        
        /* .card-body .down{
          background-color: #999;
          height: 50%;
          margin-top: -8px;
        }
        .down .description{
          position: absolute;
          bottom: 0;
        }
        .down .humidity{
          position: absolute;
          bottom: 0;
          right: 0;
        } */
